*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
   
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(90, 192, 90);
    display: flex;
    justify-content: center;
    align-items: center;
}

#panel{
    height: 80%;
    width: 90%;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    overflow: hidden;
}

#ptop{
    height: 100px;
    width: 100%;
    background-color:  rgb(69, 155, 69);
    padding: 0px 30%;
    display: flex;
    align-items: center;
    color: white;
    gap: 10%;
}

.elem{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

.box{
    margin-left: 5px;
    padding: 0px 10px;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: rgb(0, 103, 0);
    background-color: white;
    border-radius: 5px;  
}

#pBottom{
    width: 100%;
    height: calc(100% - 100px);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.bubble{
    height: 30px;
    width: 30px;
    padding: 2px;
    background-color: #5AC05A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.bubble:hover{
    background-color: #408c40;
    cursor: pointer;
}